/* General page styles */
*{
    margin: 0;
    padding: 0;
}
    
body {
    background-color: #fac8ad;
    font-family: "varela round", "jost", sans serif, 'Segoe UI', Tahoma, Geneva, Verdana;
}

a {
    line-height: 2em;
    text-decoration: none;
}

.container {
    width: 90%;
    margin: auto;
}

span {
    font-weight: bolder;
}

/* Header styles */
header {
    padding: 20px 35px;
    background-color: #001A31;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #C18DBB;
}

header h1 {
    font-weight: bold;
    font-size: 2em;
    margin: 0;
}

header a, .contact a {
    margin: .5em 30px;
    text-decoration: none;
    border-bottom: #019DD8 solid 3px;
    padding: 5px;
    font-size: 1.2em;
    display: inline;
}

header a {
    color: #C18DBB;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

a:hover {
    transition: ease-in .5s;
    background-color: #019dd8;
}

/* Hero box styles */

.hero h2 {
    margin: 20px;
    padding: 5px;
    background-color: #C18DBB;
    color: #001A31;
    display: inline;
}

.hero {
    position: relative;
    text-align: center;
    font-size: 2em;
}
  
.bottom-right {
    background-color: #C18DBB;
    position: absolute;
    bottom: .5em;
    right: 1em;
    font-size: .8em;
} 

